body{
    background-color: black;
}
#taskContainer{
    color: white;
}

.taskItem{
    color: white;
}
#btn_add {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: Arial;
    width: 56px;
    font-size: 100px;
    font-weight: 400;
    padding: 17px;
    background-color: #128D31;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn_add:hover {
    background: #128D31;
    border: solid #FFFFFF 7px;
    -webkit-border-radius: 62px;
    -moz-border-radius: 62px;
    border-radius: 62px;
    text-decoration: none;
 }